.footer{
    color: black;
    background-color: #F5F5DC;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer-content-left img{
    cursor: pointer;
    color: black;
}

.footer-content-left , .footer-content-right , .footer-content-center{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer-content-left li, .footer-content-right li, .footer-content-center li{
   list-style: none;
   margin-bottom: 10px;
   cursor: pointer;
}
.footer-content-right h2, .footer-content-center h2{
    color: black;
}
.footer-social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.footer-social-icons img {
  width: 40px;
  filter: brightness(0) saturate(100%); /* makes white icon appear black */
  cursor: pointer;
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: rgb(58, 57, 57);
    border: none;
}
/* Hide paragraph in tablet & mobile */
@media (max-width: 992px) {
  .footer-description {
    display: none;
  }
}

/* Hide center column and social icons in mobile only */
@media (max-width: 768px) {
  .hide-on-mobile {
    display: none !important;
  }

  .footer-content {
    gap: 25px;
  }
  .footer-content-right{
    gap: 20px;
  }
  img{
    width:150px;
  }

}